:root {
    --primary-purple: #7340D8;
    --secondary-purple: #926BE1;
    --background-purple: #C1AAEE;
    --phinnie-pink: #FFB1B5;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

main {
    padding: 1em;
    margin-left: 13em;
}

.menu {
    position: fixed;
    width: 13em;
    height: 100%;
    background-color: var(--background-purple);
    overflow: auto;
    padding-top: 1em;
}

.menu-invoker {
    background-image: url("baseline-menu-24px.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    background-color: var(--secondary-purple);
    height: 2em;
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .menu-invoker  {
        display: block;
    }

    .menu {
        left: -13em;
        transition: left 0.5s;
    }

    .menu-invoker:hover + .menu,
    .menu-invoker:focus + .menu,
    .menu:hover,
    .menu:focus {
        left: 0;
    }

    main {
        margin-top: 2em;
        margin-left: 0;
    }
}

.menu a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: black;
    transition: background-color 0.15s;
}

.menu a:hover {
    background-color: var(--secondary-purple);
}

.menu a.active {
    background-color: var(--phinnie-pink);
}

img.center, video.center, audio.center {
    display: block;
    max-height: 15em;
    max-width: 100%;
    margin: 0 auto;
    background-size: contain;
    background-position: center;
}

p.center {
    text-align: center;
}

.center-contents {
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
}

.center-contents img {
    max-height: 15em;
    max-width: 100%;
    margin: 0.5em;
}